.wrapper {
  background-color: #f7f7f7;
  padding: 2rem 5rem;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

/* HEADERS */

.container h2 {
  color: var(--red);
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

/* ABOUT */

.about p {
  color: #444;
  margin-bottom: 2rem;
  width: 100%;
}

.imageWrapper {
  background-color: #ddd;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  width: 95%;
  height: 22rem;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.info {
  font-size: 0.9rem;
  color: #555;
}

.success {
  font-size: 0.9rem;
  color: green;
  font-weight: 500;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* CONTACT FORM */

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form input,
.form textarea {
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 0.95rem;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--red);
}

.form button {
  margin-top: 1rem;
  background-color: var(--red);
  color: white;
  padding: 0.9rem;
  border-radius: 4px;
  font-weight: 600;
  transition: background 0.2s ease;
}

.form button:hover {
  background-color: #8f0f0f;
}

/* ================= */
/* RESPONSIVE */
/* ================= */

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
  .imageWrapper{
    height: auto;
  }
  .wrapper{
    padding: 2rem;
  }
}