.hero {
  background: linear-gradient(
    180deg,
    #3a3d44 0%,
    #2f3238 100%
  );
  padding: 1rem 1rem 15% 1rem; /* espacio para que caiga la imagen */
  position: relative;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* TITLE */

.container h1 {
  color: var(--white);
  font-size: clamp(2.2rem, 4vw, 3.2rem);
  margin-bottom: 1rem;
}

/* SUBTITLE */

.container p {
  color: rgba(255,255,255,0.8);
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

/* BUTTON */

.cta {
  background-color: var(--red);
        border-bottom: 3px solid rgba(0,0,0,0.8);
  color: var(--white);
  padding: 0.9rem 2.4rem;
  border-radius: 4px;
  font-weight: 600;
  transition: transform 0.2s ease, background 0.2s ease;
}

.cta:hover {
  background-color: #8f0f0f;
  transform: translateY(-2px);
}

/* FLOATING IMAGE */

.imageWrapper {
  position: absolute;
  bottom: -25%;   /* mitad afuera */
  left: 50%;
  transform: translateX(-50%);

  width: 66%;
  max-width: 900px;
  height: 70%;

  background-color: #fff;
  padding: 0.8rem;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.8);
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 4px;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .hero {
    padding-bottom: 1rem;
  }

  .imageWrapper {
    margin-top: 1rem;
    height: 50%;
    width: 90%;
    left: 0;
    transform: none;
    position: static;
  }
}