.why {
  background-color: var(--white2);
  padding: 2rem 1.5rem;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

/* TITLE */

.container h2 {
  text-align: center;
  color: var(--red);
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

/* SUBTITLE */

.subtitle {
  text-align: center;
  color: #444;
  margin-bottom: 2rem;
}

.subtitle span {
  color: var(--red);
  font-weight: 600;
}

/* CONTENT */

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
  margin: 0 4rem;
}

/* LIST */

.list {
  list-style: none;
}

.list li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
  color: #444;
  font-size: 1rem;
}

.list li svg {
  color: var(--red);
  font-size: 1.1rem;
}

/* IMAGE */

.imageWrapper {
  background-color: #ddd;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.2);
  width: 90%;
  height: 80%;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

/* ================= */
/* RESPONSIVE */
/* ================= */

@media (max-width: 900px) {
  .content {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0 1rem;
  }

  .imageWrapper {
    order: -1;
    width: 100%;
    height: auto;
  }

  .why {
  padding: 1rem 1rem;
  }
}